@model HxBlogs.WebApp.Models.EditViewModel
@{
    ViewBag.Title = "写文章";
}
@section styles{
    <link href="~/Content/App/css/blog-edit.css?v=1.0.0.3" rel="stylesheet" />
    <link href="~/Content/Plugin/Metronic/uniform/css/uniform.default.css" rel="stylesheet" />
}
<div class="blog-edit container body-content">
    <form class="form-horizontal" role="form" action="save" method="post">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="col-md-2 control-label blog-control-label" for="Title">文章标题<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-12">
                        <input type="text" name="Title" required class="form-control" placeholder="文章标题,请控制在100字以内" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="CatId">
                        系统分类<span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" required name="CatId">
                            <option value="-1" selected="selected">请选择</option>
                            @if (ViewBag.CategoryList != null)
                            {
                                foreach (HxBlogs.Model.Category item in ViewBag.CategoryList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12">
                <textarea name="ContentHtml" id="editor"></textarea>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="form-group form-group-tag">
                    <label class="text-left col-sm-4 blog-category-label  blog-control-label">个人分类:</label>
                    <input type="hidden" name="PersonTags" data-count="0" />
                    <button type="button" id="addTag" class="btn btn-link fa fa-plus-square" style="margin-left:0.5rem;"> 添加分类</button>
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-3 col-sm-4 col-sm-push-1 blog-col-xs-pull-1">
                @if (ViewBag.BlogTagList != null)
                {
                    for (int i = 1; i <= ViewBag.BlogTagList.Count; i++)
                    {
                        if (i % 3 == 0)
                        {
                            <div class="form-group">
                                }
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="@ViewBag.BlogTagList[i -1].Id">@ViewBag.BlogTagList[i - 1].Name
                                </label>
                                if (i % 3 == 0)
                                {
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="row hidden">
            <div class="col-sm-4 col-xs-12">
                <div class="form-group">
                    <label for="CatId" class="col-md-4 control-label blog-control-label">
                        文章类型<span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control" required name="TypeId">
                            <option value="-1" selected="selected">请选择</option>
                            @if (ViewBag.BlogTypeList != null)
                            {
                                foreach (HxBlogs.Model.BlogType item in ViewBag.BlogTypeList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="form-group">
                    <label class="col-md-1 control-label blog-control-label hidden-xs hidden-md hidden-lg" style="visibility:hidden;">
                        选项
                    </label>
                    <div class="col-sm-11">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="PersonTop" value="N"> 个人置顶
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="IsPrivate" value="N"> 仅自己可见
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="CanCmt" checked="checked" value="Y">允许评论
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group hidden">
            <div class="col-sm-12">
                <button type="button" value="Y" class="btn btn-default btn-md btn-success btn-save">发布文章</button>
                <button type="button" value="N" class="btn btn-default btn-md btn-draft btn-save" style="margin-left: .8rem;">保存草稿</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Content/Plugin/CkEditor/ckeditor.js"></script>
    <script src="~/Content/App/js/blog.core.js"></script>
    <script src="~/Content/Plugin/Metronic/uniform/jquery.uniform.js"></script>
    <script type="text/javascript">
        ClassicEditor.create(document.querySelector('#editor'), {
            removePlugins: ['mediaEmbed'],
            toolbar: [
                'heading',
                '|',
                'bold',
                'italic',
                'fontFamily',
                'fontSize',
                'alignment',
                'highlight',
                'link',
                'bulletedList',
                'numberedList',
                'imageUpload',
                // 'ckfinder',
                'blockQuote',
                'insertTable',
                'undo',
                'redo'
            ],
            ckfinder: {
                // Upload the images to the server using the CKFinder QuickUpload command.
                uploadUrl: '/file/upload?command=QuickUpload&type=Images&responseType=json',

                // Define the CKFinder configuration (if necessary).
                options: {
                    resourceType: 'Images',
                }
            },
            fontSize: {
                options: [9, 11, 13, 'default', 17, 19, 21]
            },
            image: {
                toolbar: ['imageTextAlternative', '|', 'imageStyle:alignLeft', 'imageStyle:full', 'imageStyle:alignRight'],
                styles: ['full', 'alignLeft', 'alignCenter', 'alignRight', 'side']
            }
        }).then(editor => {
            window._HxCkEditor = editor;
            $('div.hidden').removeClass('hidden');
        }).catch(error => {
            console.error(error);
        });
        $(function () {
            $('input:checkbox').change(function () {
                var $me = $(this);
                if ($me.is(':checked')) {
                    $me.val('Y');
                } else {
                    $me.val('N');
                }
            });

            $('.btn-save').click(function () {
                if (Edit.validate()) {
                    var $me = $(this),
                        data = $('form').serializeArray();
                    data.push({ name: 'IsPublish', value: $me.val() });
                    var content = data.find(d => { return d.name == 'ContentHtml'; });
                    if (content) content.value = _HxCkEditor.getData();
                    $.post('save', data, function (r) {
                        debugger
                    });
                }
            });
            var Edit = {
                remind(msg) {
                    BlogApp.remind({
                        message: msg,
                        valign: 'bottom',
                        error: true
                    });
                },
                validate() {
                    var $form = $('form'),
                        allField = $form.find('input[name][required],select[required]'),
                        result = true;
                    allField.each(function (index, el) {
                        var field = $(el),
                            isEmpty = false;
                        if (field.is('input')) {
                            if ($.isEmpty(field.val())) {
                                isEmpty = true;
                            }
                        } else if (field.is('select')) {
                            if (field.val() == -1) {
                                isEmpty = true;
                            }
                        }
                        if (isEmpty) {
                            var name = field.attr('name'),
                                label = $form.find(`label[for='${name}']`),
                                labelText = (label.text() || '').replace(/\*/g, '');
                            Edit.remind(`${labelText}是必填字段!`);
                            result = false;
                            return false;
                        }
                    });
                    return result;
                },
                doPersonTag(text, add) {
                    var $tag = $('input[name=PersonTags]'),
                        tagVal = $tag.val(),
                        tagObj = {},
                        result = false;
                    if (!$.isEmpty(tagVal)) {
                        tagObj = JSON.parse(tagVal);
                    }
                    if (add) {
                        var count = $tag.data('count'),
                            exist = false;
                        if ($.isString(text)) {
                            text = $.trim(text);
                            $.each(tagObj, (key, value) => {
                                if ($.trim(value) == text) {
                                    exist = true;
                                    return false;
                                }
                            });
                            count++;
                            if (!exist) {
                                result = true;
                                tagObj['newData' + count] = text;
                                $tag.data('count', count);
                            }
                        } else if ($.isObject(text)) {
                            $.extend(tagObj, text);
                        }
                        if (!$.isEmptyObject(tagObj)) {
                            $tag.val(JSON.stringify(tagObj));
                        }
                    } else {
                        if ($.isString(text)) {
                            $.each(tagObj, (key, value) => {
                                if ($.trim(value) == text) {
                                    delete tagObj[key];
                                    result = true;
                                    return false;
                                }
                            });
                        } else if ($.isObject(text)) {
                            $.each(tagObj, (key, value) => {
                                if ($.trim(value) == $.trim(text[key])) {
                                    delete tagObj[key];
                                    result = true;
                                    return false;
                                }
                            });
                        }
                        $tag.val(JSON.stringify(tagObj));
                    }
                    return result;
                },
                addTag() {
                    var $div = $('<div class="tag-box"></div>'),
                        $span = $(`<span class="tag" contenteditable = "true"></span>
                                <i class="fa fa-times" aria-hidden="true"></i>`);
                    $div.append($span).insertBefore($('#addTag'))
                    $span.focus().
                        blur(function () {
                            var $me = $(this),
                                text = $.trim($me.text()),
                                $parent = $me.parent();
                            if ($.isEmpty(text)) {
                                $parent.remove();
                            } else {
                                $me.attr('contenteditable', 'false');
                                if (!Edit.doPersonTag(text, true)) {
                                    $parent.remove();
                                }
                            }
                        }).keydown(function (e) {
                            var code = (e.keyCode ? e.keyCode : e.which);
                            if (code === 13) {
                                $(e.target).blur();
                            }
                        });
                    $div.find('i.fa-times').click(function () {
                        var $me = $(this),
                            $p = $me.parent(),
                            $prev = $me.prev(),
                            text = $prev.text();
                        $p.remove();
                        Edit.doPersonTag($prev.text());
                    });
                }
            };
            $('#addTag').click(function () {
                Edit.addTag();
            });
        });
    </script>
}

