@model HxBlogs.Model.UserInfo
@{
    ViewBag.Title = "注册";
}

<div class="content">
    @using (Ajax.BeginForm("Register", "Account", new { }, new AjaxOptions()
    {
        HttpMethod = "post"
    }, new
    {
        @class = "form-vertical login-form",
        role = "form",
        id = "loginForm"
    }))
    {
        <h3 class="form-title">用户注册</h3>
        <div class="alert alert-error hide">
            <button class="close" data-dismiss="alert"></button>
            <span>请输入用户名和密码!</span>
        </div>
        <div class="control-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(m => m.UserName, new{@class = "m-wrap placeholder-no-fix",placeholder = "用户名"})
                    @*<input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名" name="@Html.NameFor(m=>m.UserName)" />*@
                </div>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">邮箱</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="fa fa-envelope"></i>
                    @Html.TextBoxFor(m => m.Email, new{@class = "m-wrap placeholder-no-fix",placeholder = "邮箱"})
                    @*<input class="m-wrap placeholder-no-fix" type="text" placeholder="邮箱" name="@Html.NameFor(m =>m.Email)" />*@
                </div>
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(m => m.PassWord, new{@class = "m-wrap placeholder-no-fix",placeholder = "密码"})
                    @*<input class="m-wrap placeholder-no-fix" type="password" placeholder="密码" name="@Html.NameFor(m =>m.PassWord)" />*@
                </div>
                @Html.ValidationMessageFor(m => m.PassWord)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">确认密码</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(m => m.PwdConfirm, new{@class = "m-wrap placeholder-no-fix",placeholder = "确认密码"})
                    @*<input class="m-wrap placeholder-no-fix" type="password" placeholder="确认密码" name="@Html.NameFor(m =>m.PassWord)" />*@
                </div>
                @Html.ValidationMessageFor(m => m.PwdConfirm)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn" value="注册" />
            @*<button id="btnReg" type="button" class="btn">注册</button>*@
        </div>
    }
</div>
@section scripts{
   <script type="text/javascript">
       $(function () {
           console.log("注册");
       });
    </script>
}
