@model List<HxBlogs.Model.Blog>
@using Hx.Common.Helper
@{
    ViewBag.Title = "海·星の博客";
    ViewBag.ShowFooter = false;
}
@section styles{
    <link href="~/Content/app/css/blog-home.css" rel="stylesheet" />
}
<div class="blog-container page-sidebar">
    <ul>
        <li><a>测试</a></li>
    </ul>
    <ul>
        <li><a>测试</a></li>
    </ul>
    <ul>
        <li><a>测试</a></li>
    </ul>
    <ul>
        <li><a>测试</a></li>
    </ul>
    <ul>
        <li><a>测试</a></li>
    </ul>
    <ul>
        <li><a>测试</a></li>
    </ul>
</div>

<div class="blog-container">
    <div>
        @foreach (HxBlogs.Model.Blog blog in Model)
        {
        <div>
            @(new HtmlString(blog.ContentHtml))
        </div>
        }
    </div>
</div>


@*<div class="blog-container">
        <article >
            <div class="blog-list">
                @foreach (HxBlogs.Model.Blog blog in Model)
                {
                    <div class="blog-item clearfix" data-id="@Helper.ToHex(blog.Id)">
                        <div class="blog-item-content">
                            <div class="blog-item-title">
                                <h4>
                                    <a target="_blank" href="/Home/Blog/@Helper.ToHex(blog.Id)">@blog.Title</a>
                                </h4>
                            </div>
                            <div class="blog-item-summary content-nowrap">
                                @(new HtmlString(blog.ContentHtml))
                            </div>
                            <div class="blog-item-user">
                                <div class="blog-item-hbox">
                                    <div class="avatar">
                                        <img src="~/Content/Plugin/Metronic/image/avatar.png" />
                                    </div>
                                    <div class="name">@(blog.User == null ? blog.CreatorName : (string.IsNullOrEmpty(blog.User.NickName)?blog.User.UserName :blog.User.NickName))</div>
                                    <div class="blog-tag-data">@(blog.Category!=null? blog.Category.Name:"")</div>
                                    <div class="time">@(WebHelper.GetDispayDate(blog.PublishDate))</div>
                                    <div class="pull-right">
                                        <div class="read">
                                            <a>
                                                <span class="read-num">@blog.ReadCount</span>
                                                <span class="read-text">阅读</span>
                                            </a>
                                        </div>
                                        <div class="comment">
                                            <a>
                                                <span class="comment-num">@blog.CommentCount</span>
                                                <span class="comment-text">评论</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </article>
    </div>*@


