@model HxBlogs.Model.Blog
@{
    ViewBag.Title = Model.Title;
}
@section styles{
    @Styles.Render("~/content/default")
}
<div class="hx-container blog-view">
    <div class="d-flex">
        @{ 
            Html.RenderPartial("side", ViewBag.User as HxBlogs.Model.User);
        }
        <div class="flex-fill flex-column mt-2 ml-3 py-3 px-4 hx-white-container">
            <div class="mt-2">
                <div>
                    <h4>@Model.Title</h4>
                </div>
                <div class="d-flex hx-light-content">
                    <span class="hx-text">@(UserContext.GetDisplayName(Model.User)) 发布于</span>
                    <span class="hx-text mr-1">@WebHelper.GetDispayDate(Model.PublishDate, "yyyy-MM-dd")</span>
                    <span class="hx-text mx-1">阅读数:@Model.ReadCount</span>
                    <span class="hx-text mx-1">收藏:@Model.FavCount</span>
                    <span class="hx-text mx-1">点赞:@Model.LikeCount</span>
                    <div class="hx-text mx-1 blog-tag">
                        个人分类：
                        @if (ViewBag.BlogTag != null)
                        {
                            foreach (HxBlogs.Model.BlogTag tag in ViewBag.BlogTag)
                            {
                                <a target="_blank" href="@WebHelper.GetFullUrl("/article/"+tag.UserName+"/tag/"+tag.HexId)">@tag.Name</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="mt-4 blog-content">
                @(new HtmlString(Model.ContentHtml))
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $(".partial-content").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url, function (response, status, xhr) {
                        if (status == 'success') {
                            $(this).removeAttr('hidden');
                        } else {
                            HxCore.ajaxError(xhr);
                        }
                    });
                }
            });
        });
    </script>
}
