@model HxBlogs.Model.Blog
@{
    ViewBag.Title = Model.Title;
    string newArticle = Guid.NewGuid().ToString(),
        personTag = Guid.NewGuid().ToString(),
        archive = Guid.NewGuid().ToString();
}
@section styles{
    @Styles.Render("~/content/default")  
}
<div class="hx-container blog-view">
    <div class="d-flex">
        <aside class="d-flex flex-column blog-aside">
            <div class="d-inline-flex align-items-center mt-2 p-3 hx-white-content hx-aside-title">
                <div class="user-md-avater mr-2">
                    <a>
                        <img src="~/images/avatar.png" />
                    </a>
                </div>
                <div class="mr-1">@(Model.User == null ? "" : (string.IsNullOrEmpty(Model.User.NickName) ? Model.User.UserName : Model.User.NickName))</div>
                <div class="ml-auto mr-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm">关注</button>
                </div>
            </div>
            <div class="d-inline-flex justify-content-around  mb-1  p-3 hx-white-content">
                <div class="d-flex flex-column">
                    <span>园龄</span>
                    <span>100</span>
                </div>
                <div class="d-flex flex-column">
                    <span>粉丝</span>
                    <span>100</span>
                </div>
                <div class="d-flex flex-column">
                    <span>关注</span>
                    <span>100</span>
                </div>
                <div class="d-flex flex-column">
                    <span>访问</span>
                    <span>100</span>
                </div>
            </div>
            <div id="@newArticle" class="card my-1" hidden>
            </div>
            <div id="@personTag" class="card my-1" hidden>
            </div>
            <div id="@archive" class="card my-1" hidden>
            </div>
        </aside>
        <div class="flex-fill flex-column mt-2 ml-3 py-3 px-4 hx-white-content">
            <div class="mt-2">
                <div>
                    <h4>@Model.Title</h4>
                </div>
                <div class="d-flex hx-light-content">
                    <span class="hx-text">@(Model.User == null || string.IsNullOrEmpty(Model.User.NickName) ? Model.UserName : Model.User.NickName)发布于</span>
                    <span class="hx-text mr-1">@WebHelper.GetDispayDate(Model.PublishDate, "yyyy-MM-dd")</span>
                    <span class="hx-text mx-1">阅读数:@Model.ReadCount</span>
                    <span class="hx-text mx-1">收藏:@Model.FavCount</span>
                    <span class="hx-text mx-1">点赞:@Model.LikeCount</span>
                    <div class="hx-text mx-1 blog-tag">
                        个人分类：
                        @if (ViewBag.BlogTag != null)
                        {
                            foreach (HxBlogs.Model.BlogTag tag in ViewBag.BlogTag)
                            {
                                <a href="@WebHelper.GetFullUrl("/article/tag/"+tag.UserName+"/"+Hx.Common.Helper.Helper.ToHex(tag.Id))">@tag.Name</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="mt-4 blog-content">
                @(new HtmlString(Model.ContentHtml))
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var $newArticle = $('#@newArticle'),
                $personTag = $('#@personTag'),
                $archive = $('#@archive');
            HxCore.ajax('/article/loadnewarticle', {
                data: {
                    id:'@(Hx.Common.Helper.Helper.ToHex(Model.Id))'
                },
                success(data) {
                    $newArticle.html(data);
                    $newArticle.removeAttr('hidden');
                },
                failure() {
                }
            });
             HxCore.ajax('/article/loadpersontag', {
                 success(data) {
                    $personTag.html(data);
                    $personTag.removeAttr('hidden');
                    $('.hx-collapsed:last-child').on('shown.bs.collapse', function () {
                        $personTag.children('.card-footer').remove();
                    })
                },
                failure() {
                }
             });
            HxCore.ajax('/article/loadarchive', {
                success(data) {
                    $archive.html(data);
                    $archive.removeAttr('hidden');
                },
                failure() {
                }
             });
        });
    </script>
}
