@model List<HxBlogs.Model.Blog>
@{
    ViewBag.Title = "博客管理";
}
<div class="m-content">
    <table class="table table-bordered m-table m-table--border-primary m-table--head-bg-primary">
        <thead>
            <tr>
                <th>博客名字</th>
                <th>是否发布</th>
                <th>发布人</th>
                <th>发布日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (HxBlogs.Model.Blog b in Model)
            {
            <tr>
                <td>
                    <a target="_blank" href="@(WebHelper.GetFullUrl("/article/"+b.UserName+"/"+b.HexId))">@b.Title</a>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" 
                               value="@b.Publish"  @(b.IsPublish ? "checked" : "") />
                    </div>
                </td>
                <td>@b.UserName</td>
                <td>@(b.PublishDate.HasValue ? b.PublishDate.Value.ToString("yyyy-MM-dd HH:ss") : "")</td>
                <td>
                    <button class="btn btn-danger btn-sm">
                        <i class=" fa flaticon-delete-2"></i>
                    </button>
                    <button class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                        <i class=" fa flaticon-delete-2"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
