@model HxBlogs.WebApp.Models.BasicInfoDTO
@{
    Layout = "~/Areas/Admin/Views/Shared/_UCLayout.cshtml";
}
@section endstyles{
    @Styles.Render("~/content/remind")
    @Styles.Render("~/content/picker")
    @Styles.Render("~/content/cropper")
    <style>
        .img-container,
        .img-preview {
            background-color: #f7f7f7;
            text-align: center;
        }
        .preview-lg {
            height: 10rem;
            width: 10rem;
        }
        .preview-md {
            height: 5rem;
            width: 5rem;
        }
        .preview-sm {
            height: 3.125rem;
            width: 3.125rem;
        }
        .img-preview {
            overflow:hidden;
        } 
        .img-preview > img {
            max-width: 100%;
        }
    </style>
}
<div class="d-flex hx-container hx-white-container py-3">
    <div>
        @{
            Html.RenderPartial("side");
        }
    </div>
    <div class="flex-fill flex-grow-1 ml-2 px-3">
        @{
            Html.RenderPartial("tabs", Model, new ViewDataDictionary {
                {"JobInfo",ViewBag.JobInfo },
                {"AvatarUrl",ViewBag.AvatarUrl }
            });
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/picker")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/remind")
    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/cropper")
    <script src="~/scripts/app/hx.uc.js"></script>
    <script>
        var _hxDialog;
        $(function () {
            $('#WorkYear').val('@ViewBag.JobInfo.WorkYear');
        })
    </script>
}

