<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/style")
    @Styles.Render("~/content/site")
    @RenderSection("styles", required: false)
</head>
<body class="page-header-fixed">
    @Html.Partial("../Layout/_Header")
    <div class="container-fluid">
        @RenderBody()
    </div>
    @if (ViewBag.ShowFooter != false)
    {
        @Html.Partial("../Layout/_Footer")
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    <script>
        //if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        //    (function () {
        //        window.scrollReveal = new scrollReveal({ reset: true });
        //    })();
        //};
        $(function () {
            $('li.dropdown.user').mouseenter(function () {
                $(this).addClass('show');
                $(this).children('.dropdown-menu').addClass('show');
            }).mouseleave(function () {
                $(this).removeClass('show');
                $(this).children('.dropdown-menu').removeClass('show');
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
