@{ 
    var startHidden = !string.IsNullOrEmpty(Request.QueryString["startHidden"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 海·星の博客</title>
    @Styles.Render("~/content/site")
    @*@Styles.Render("~/content/remind")*@
    @Styles.Render("~/content/default")
    @Styles.Render("~/content/darkblack")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/site")
</head>
<body>

    @{
        Html.RenderPartial("~/Views/Layout/_Header.cshtml");
    }
    <div class="container-fluid">
        @RenderBody()
    </div>
    @if (ViewBag.ShowFooter != false)
    {
        Html.RenderPartial("~/Views/Layout/_Footer.cshtml");
    }
    
    @Scripts.Render("~/bundles/core")
    <script>
        //if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        //    (function () {
        //        window.scrollReveal = new scrollReveal({ reset: true });
        //    })();
        //};
    </script>
    @RenderSection("scripts", required: false)
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</body>
</html>
