@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/content/site")
    @Styles.Render("~/content/remind")
    @Styles.Render("~/content/default")
    @Styles.Render("~/content/darkblack")
    @Scripts.Render("~/bundles/site")
</head>
<body>
    <div class="d-flex h-100">
        @{ 
            Html.RenderPartial("aside");
        }
        <div class="flex-fill">
            <div>
                <ol class="breadcrumb hx-bg-dark border-0">
                    <li class="breadcrumb-item">后台管理</li>
                    <li class="breadcrumb-item active">系统设置</li>
                </ol>
                <div class="container">

                </div>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/core")
</html>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('.hx-aside').toggleClass('hx-nav-collapse');
        })
    })
</script>
