@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/content/site")
    @Styles.Render("~/content/remind")
    @Styles.Render("~/content/default")
    @Styles.Render("~/content/darkblack")
    @Styles.Render("~/content/login")
    @Scripts.Render("~/bundles/site")
</head>
<body>
    <div>
        <aside>

        </aside>
    </div>
</body>
@Scripts.Render("~/bundles/core")


</html>
