<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/font")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Metronic/css")
    @Styles.Render("~/Content/Metronic/admin/login.css")
   @RenderSection("styles", required: false)
</head>
<body class="login">
    <div class="container body-content ">
        <div class="logo">
            <a href="/">
                <img src="~/Content/Images/head/logo.png" />
            </a>
        </div>
        @RenderBody()
        <div class="copyright">
            @DateTime.Now.Year &copy; HxBlogs by JIE.Tong
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metronic")
    <script src="~/Scripts/Metronic/jquery/jquery.blockui.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            App.init();
        })
    </script>
</body>
</html>