<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 海·星の博客</title>
    @Styles.Render("~/content/boot")
    @Styles.Render("~/content/load")
    @Styles.Render("~/content/site")
    @Styles.Render("~/content/login")
    <style>
        body {
            background: rgba(239, 233, 242, 0.8) url(/images/login/newbg.png) center bottom no-repeat;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container hx-content">
        <div class="hx-logo">
            <a href="/">
                <img src="~/images/logo.png" />
            </a>
        </div>
        @RenderBody()
        <div class="hx-copyright">
            @DateTime.Now.Year &copy; HxBlogs by JIE.Tong
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/boot")
    @Scripts.Render("~/bundles/load")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>