<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 海·星の博客</title>
    @RenderSection("beginstyles", required: false)
    @Styles.Render("~/content/site")
    @*@Styles.Render("~/content/remind")*@
    @Styles.Render("~/content/default")
    @Styles.Render("~/content/darkblack")
    @RenderSection("endstyles", required: false)
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Layout/_Header.cshtml");
    }
    <div class="container-fluid">
        @RenderBody()
    </div>
    @if (ViewBag.ShowFooter != false)
    {
        Html.RenderPartial("~/Views/Layout/_Footer.cshtml");
    }
    @Scripts.Render("~/bundles/site")
    <script>
        $(function () {
            $('li.dropdown.user').mouseenter(function () {
                $(this).addClass('show');
                $(this).children('.dropdown-menu').addClass('show');
            }).mouseleave(function () {
                $(this).removeClass('show');
                $(this).children('.dropdown-menu').removeClass('show');
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>